version: '3.9'

services:
  frontend:
    build: .
    volumes:
      - ..:/home/animmendation/tcc_animmendation/frontend
      - ~/.ssh:/home/animmendation/.ssh
    ports:
      - 3000:3000
    command: tail -f /dev/null
    extra_hosts:
      - host.docker.internal:host-gateway
    tty: true
    env_file: ../.env
